.input_title input {
  min-height: 30px;
  margin-bottom: 0;
  padding: 10px;
  display: flex;
  /* width: 100%; */
  align-items: center;
  flex-direction: column;
  flex: 1;
  border: none;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.33);
  outline: none !important;
}
.input_title:hover {
  cursor: pointer;
}
.input_title svg {
  position: absolute;
  right: 10px;
}
.input_title {
  width: 100%;
  display: flex;
  position: relative;
}
.header {
  position: absolute;
  top: -20px;
  font-size: 15px;
  left: 0;
}
.headerMargin {
  margin-top: 35px;
}
.headerMargin:nth-child(1) {
  margin-top: 10px;
}
